$height : 100px;
$width : inherit;

.topic-square{
  text-align: center;
  padding-top: 40px;
  background-color: #6D99E1;
  cursor: pointer;
  height: $height;
  width: $width;
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.scrum-topic{
  background-color: #6D99E1 !important;
  padding: 5px; 
  cursor: pointer;
  line-height: 30px !important;
  font-size: 14px;
  color: white;
  font-weight: bold;
  border: solid 1px grey
}

.detail-panel-background{
  background-color: #CCE9F6;
  font-weight: bold;
  color: #2F2F2F;
  font-family: Arial, Helvetica, sans-serif
}
.detail-sub-header{
  font-size: 17px;
}

.list{
  padding-left: 15px;
}

.detail-header-background{
  background-color: #2460A7FF !important;
  padding: 5px;
  line-height: 30px;
  font-size: 18px;
}

.detail-topic-container{
  border: solid 1px #2460A7FF;
  background-color: white;
}

.detail-main-container{
  border: solid 1px black;
}

.back-button{
  background-color: #2460A7FF !important;
  font-weight: bold;
  color: white;
  min-height: 30px;
  width: 80px;
  display: block;
  line-height: 30px;
}

