page-hello-ionic {

}

.underline{
    text-decoration: underline;
    cursor: pointer;
}

.tile-background{
    background-color:#97BC62FF !important;
}

.header-background{
  background-color: #2460A7FF !important;
  padding: 5px; 
  cursor: pointer;
  line-height: 40px;
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.scrum-topic{
  background-color: #85B3D1FF !important;
  padding: 5px; 
  cursor: pointer;
  line-height: 30px !important;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.detail-panel-background{
  background-color:#B3C7D6FF !important;
  font-weight: bold;
  color: black;
}

.detail-header-background{
  background-color: #2460A7FF !important;
  padding: 5px;
  line-height: 30px;
  font-size: 18px;
}

.detail-topic-container{
  color: black;
  border: solid 1px #2460A7FF;
}

.back-btton{
  color: white;
  font-weight: bold;
}

  span{
      padding-left: 2px!important;
      padding-right: 2px!important;
      padding-top: 2px!important;
      padding-bottom: 2px!important;
    }

  span button{
    width: 80px;
    height: 65px;
    white-space: normal !important;
    line-height: 20px;
    font-size: 10px;
    padding: 0px;
  }

  ion-slide {
    width: 80px!important;
    height: 65px!important;
    background-color:  #FFF;
    float: left;
    margin-left: 5px!important;
    margin-right: 5px!important;
  }

  ion-slides {
      height: inherit;
  }

