<ion-menu [content]="content" type="overlay">

  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
    <!-- <ion-list id="sidenav">
       
      <ion-item *ngFor="let p of pages" (click)="openPage(p)">{{p.title}}</ion-item>
      <ion-item-group submenu [class.visible]="showSubmenu">
        <ion-item *ngFor="let s of p.subpages" (click)="openPage(p)">{{s.title}}</ion-item>
      </ion-item-group>
    </ion-list> -->
    
<!-- <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button> -->

    <!-- <ion-list id="sidenav">
        <ion-item (click)="menuItemHandler()">Main Menu</ion-item>
        <ion-item-group submenu [class.visible]="showSubmenu">
          <ion-item submenu-item>Sub menu item</ion-item>
          <ion-item submenu-item>Sub menu item</ion-item>
          <ion-item submenu-item>Sub menu item</ion-item>
        </ion-item-group>
    </ion-list> -->

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
