page-hello-ionic {

}

.underline{
    text-decoration: underline;
    cursor: pointer;
}

.tile-background{
    background-color:#97BC62FF !important;
}

.header-background{
  background-color: #2C5F2D !important;
  padding: 5px; 
  cursor: pointer;
}

.detail-panel-background{
  background-color:#97BC62FF !important;
}

.detail-header-background{
  background-color: #2C5F2D !important;
  padding: 5px;
}

.detail-button-navigation{
  background-color: #184A45FF;
}
span{
    padding-left: 2px!important;
    padding-right: 2px!important;
    padding-top: 2px!important;
    padding-bottom: 2px!important;
  }

  span button{
    width: 80px;
    height: 65px;
    white-space: normal !important;
    line-height: 20px;
    font-size: 10px;
    padding: 0px;
  }

  ion-slide {
    width: 80px!important;
    height: 65px!important;
    background-color:  #FFF;
    float: left;
    margin-left: 5px!important;
    margin-right: 5px!important;
  }

  ion-slides {
      height: inherit;
  }

