<ion-header>
  <ion-navbar>
    <ion-title>
      <div>
        Scrum Guide
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-slides>
    <ion-slide *ngFor="let p of pages">
      <span>
        <button class="background radius cover button text-shadow text-bold text-white shadow" 
        (click)="goToPage(p.component);">{{p.title}}</button>
      </span>
    </ion-slide>
  </ion-slides>

  <div class="space"></div>
  <div class="row">
    <div class="col text-bold" style="margin-left: 5px;">
      Scrum Team
    </div>
  </div>

  <ion-slides>
    <ion-slide *ngFor="let role of roles">
      <span>
        <button class="background radius cover button text-shadow text-bold text-white shadow" 
        (click)="goToPage(role.component);">{{role.title}}</button>
      </span>
    </ion-slide>
  </ion-slides>

  <div class="space"></div>
  <div class="row ">
    <div class="col text-bold" style="margin-left: 5px;">
      Scrum Artifacts
    </div>
  </div>

  <ion-slides>
    <ion-slide *ngFor="let artifact of artifacts">
      <span>
        <button class="background radius cover button text-shadow text-bold text-white shadow" 
        (click)="goToPage(artifact.component);">{{artifact.title}}</button>
      </span>
    </ion-slide>
  </ion-slides>

  <div class="space"></div>
  <div class="row ">
    <div class="col text-bold" style="margin-left: 5px;">
      Scrum Events
    </div>
  </div>

  <ion-slides>
    <ion-slide *ngFor="let event of events">
      <span>
        <button class="background radius cover button text-shadow text-bold text-white shadow" 
        (click)="goToPage(event.component);">{{event.title}}</button>
      </span>
    </ion-slide>
  </ion-slides>

  <div class="space"></div>
  <div class="row ">
    <div class="col text-bold" style="margin-left: 5px;">
      Artifacts Transparency
    </div>
  </div>

  <ion-slides>
    <ion-slide *ngFor="let dod of artifactTransparency">
      <span>
        <button class="background radius cover button text-shadow text-bold text-white shadow" 
        (click)="goToPage(dod.component);">{{dod.title}}</button>
      </span>
    </ion-slide>
  </ion-slides>

</ion-content>
